html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *::before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: slategray;
}

.navbar-logo {
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.nav-list {
    display: flex;
}

.nav-list .nav-item {
    cursor: pointer;
    height: 100%;
    padding: 0 10px;
    transition: .4s;
}

.nav-link {
    text-decoration: none;
    color: whitesmoke;
    font-size: 12px;
}

a:hover {
    background-color: steelblue;
}

.section-one-main-container {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    background-color: slategray;
}

.section-one-text-container {
Display:flex;
Flex: 1;
Justify-content: space-between;
Align-content: center;
border: 2px solid whitesmoke;
    border-radius: 100px;
}

.left-box {
    Align-text: center;
    color: whitesmoke;
    padding: 40px;
}    

img {
    height: 50px;
    border: 2px solid yellow;
    border-radius: 25px;
}